body{
    background-image: url("gplaypattern.png");
    margin: 0px;
    padding:0px;
}
@font-face{
    font-family: birthday;
    src: url('DHF Happy Birthday Ryan.ttf')
}
@font-face{
    font-family: quad;
    src: url('Quadranta-Bold.otf')
}
@font-face{
    font-family: dunkin;
    src: url('Dunkin.ttf')
}
/*Header CSS info*/
#header{
    height: 35px;
    background-image: url(bluegradient.jpg);
    background-repeat: repeat-x;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: fixed;
    top:0px;
    z-index: 1000;
}
#navbar{    
    margin-left: 50%;
    margin-right: 20%;
    margin-top: 0px;
    padding: 0px;
    white-space: nowrap;
}
.linkcell{
    list-style-type: none;
    display: inline-block;
    width: 33.3333333333%;
    height: 35px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-align: center;
}
.link{
    display: block;
    text-decoration: none;
    color: #fdfe39;
    font-family: quad;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
}
.linkcell:hover {
    background: #fdfe7d;
}
.link:hover{
    color:#3cb2e1;
}
#logo{
    font-family: quad;
    line-height: 35px;
    font-size: 25px;
    margin: 0px;
}
#logodiv{
    height: 35px;
    margin-left: 20%;
    float: left;
    width: 10%;
    padding: 0px;
}
/*Page CSS info*/
#page{
    margin-left:20%;
    margin-right: 20%;
    border: 1px solid black;
    background: inherit;
    width:60%;
    padding-top: 70px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
    overflow: hidden;
}
#hfbm{
    font-size: 150px;
    line-height: 500px;
    text-align: center;
    font-family: birthday;
    color:#000000;
    margin: 0px;
}
#title{
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(pinkcake.jpg);
    height: 100%;
    top: 0px;
    height:100vh;
    opacity: .6;
    margin: 0px;
    padding: 0px;
}
#beatles{
    margin-right: auto;
    margin-left: auto;
    width: 640px;
    height: 480px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#line{
    font-family: birthday;
    font-size: 100px;
    line-height: 100px;
    text-align: center;  
}
.paragraphs{
    font-family: georgia;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 40px;
    max-width: 370px;
    margin: 0px;
}
#photos{
    text-align: center;
}
.photo{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}
/*Footer CSS info*/
#footer{
    background: #3cb2e1;
    height: 10px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    bottom: 20px;
}