body{
    background-image: url("gplaypattern.png");
    margin: 0px;
    padding:0px;
}
@font-face{
    font-family: birthday;
    src: url('DHF Happy Birthday Ryan.ttf')
}
/*Header CSS info*/
#header{
    height: 70px;
    background-image: url(bluegradient.jpg);
    background-repeat: repeat-x;
    box-shadow: 0px 2px 3px 1px #000000;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: fixed;
}
#navbar{    
    padding-left: 20%;
    padding-right: 50%;
    margin: 0px;
    white-space: nowrap;

}
.linkcell{
    list-style-type: none;
    display: inline-block;
    width: 33.3333333333%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-align: center;
}
.link{
    display: block;
    text-decoration: none;
    color: #fdfe39;
    font-family: georgia;
    font-size: 25px;
    line-height: 70px;
    text-align: center;
}
.linkcell:hover {
    background: #fdfe7d;
}
.link:hover{
    color:#3cb2e1;
}
/*Page CSS info*/
#page{
    margin-left:20%;
    margin-right: 20%;
    border: 0px;
    background: #fffff5;
    box-shadow: 0px 0px 3px 1px #000000;
    width:60%;
    padding-top: 70px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
    overflow: hidden;
}
#title{
    width: auto;
    height: 100px;
    margin: 0px;
    padding: 0px;    
}
#hfbm{
    font-size: 80px;
    line-height: 100px;
    text-align: center;
    font-family: birthday;
    color:#000000;
}
#beatles{
    margin-right: auto;
    margin-left: auto;
    width: 640px;
    height: 480px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#line{
    font-family: georgia;
    font-size: 40px;
    line-height: 40px;
    text-align: center;  
}
.paragraphs{
    font-family: georgia;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 40px;
}
/*Footer CSS info*/
#footer{
    background: #3cb2e1;
    height: 10px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}